table {
    width: 80vw;
  }
  

  .circle{
      width:30px;
      height:30px;
      display: block;
      border-radius: 15px;
  }

  .red{
      background-color: red;
  }

  
  .green{
    background-color: green;
}