<table mat-table [dataSource]="devices" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="deviceId">
        <th mat-header-cell *matHeaderCellDef> DeviceId </th>
        <td mat-cell *matCellDef="let element"> {{element.deviceId}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="obstructed">
        <th mat-header-cell *matHeaderCellDef> Obstructed </th>
        <td mat-cell *matCellDef="let element">
            <div class="circle" [ngClass]="element.obstructed ? 'red' : 'green'"></div>
        </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="batteryLevel">
        <th mat-header-cell *matHeaderCellDef> Battery </th>
        <td mat-cell *matCellDef="let element"> {{element.batteryLevel}} </td>
    </ng-container>

    <ng-container matColumnDef="updateAt">
        <th mat-header-cell *matHeaderCellDef> Update at </th>
        <td mat-cell *matCellDef="let element"> {{element.updateAt}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>