<sidenav [orientation]="orientation" [ngClass]="getClasses()">

  <!-- Brand demo (see src/demo.css) -->
  <div class="app-brand demo" *ngIf="orientation !== 'horizontal'">
    <span class="app-brand-logo demo bg-primary">
      <svg viewBox="0 0 148 80" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
          <linearGradient id="a" x1="46.49" x2="62.46" y1="53.39" y2="48.2" gradientUnits="userSpaceOnUse">
            <stop stop-opacity=".25" offset="0"></stop>
            <stop stop-opacity=".1" offset=".3"></stop>
            <stop stop-opacity="0" offset=".9"></stop>
          </linearGradient>
          <linearGradient id="e" x1="76.9" x2="92.64" y1="26.38" y2="31.49" xlink:href="#a"></linearGradient>
          <linearGradient id="d" x1="107.12" x2="122.74" y1="53.41" y2="48.33" xlink:href="#a"></linearGradient>
        </defs>
        <path style="fill: #fff;" transform="translate(-.1)"
          d="M121.36,0,104.42,45.08,88.71,3.28A5.09,5.09,0,0,0,83.93,0H64.27A5.09,5.09,0,0,0,59.5,3.28L43.79,45.08,26.85,0H.1L29.43,76.74A5.09,5.09,0,0,0,34.19,80H53.39a5.09,5.09,0,0,0,4.77-3.26L74.1,35l16,41.74A5.09,5.09,0,0,0,94.82,80h18.95a5.09,5.09,0,0,0,4.76-3.24L148.1,0Z">
        </path>
        <path transform="translate(-.1)" d="M52.19,22.73l-8.4,22.35L56.51,78.94a5,5,0,0,0,1.64-2.19l7.34-19.2Z"
          fill="url(#a)"></path>
        <path transform="translate(-.1)" d="M95.73,22l-7-18.69a5,5,0,0,0-1.64-2.21L74.1,35l8.33,21.79Z" fill="url(#e)">
        </path>
        <path transform="translate(-.1)" d="M112.73,23l-8.31,22.12,12.66,33.7a5,5,0,0,0,1.45-2l7.3-18.93Z"
          fill="url(#d)"></path>
      </svg>
    </span>
    <a routerLink="/" class="app-brand-text demo sidenav-text font-weight-normal ml-2">EasyPark</a>
  </div>
  <div class="sidenav-divider mt-0" *ngIf="orientation !== 'horizontal'"></div>

  <!-- Links -->
  <div class="sidenav-inner" [ngClass]="{ 'py-1': orientation !== 'horizontal' }">

    <!-- Dashboards -->
    <sidenav-router-link icon="ion ion-md-home" route="/" [active]="isActive('/')">Home
    </sidenav-router-link>

    <sidenav-divider class="mb-1"></sidenav-divider>

    <sidenav-router-link (click)="open(slideModal, { windowClass: 'modal-slide' })">Create new project
    </sidenav-router-link>

    <sidenav-menu icon="ion ion-logo-buffer" [active]="isMenuActive('/project')" [open]="isMenuOpen('/project')"
      text="Projects" *ngIf="projectList.length > 0">
      <a style="text-transform: capitalize" [class.active]="isActive(project.id)" *ngFor="let project of projectList"
        class="sidenav-link" [routerLink]="['/project', project.id]">
        <div>{{ project.name }}</div>
      </a>
    </sidenav-menu>
  </div>
</sidenav>

<ng-template #slideModal let-c="close" let-d="dismiss">
  <button type="button" class="close" (click)="d('Cross click')">&times;</button>
  <div class="modal-body">
    <div class="form-row">
      <div class="form-group col">
        <label class="form-label">Project name</label>
        <input type="text" [(ngModel)]="projectName" class="form-control" placeholder="Insert your project name">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <label class="form-label">Allow Origin(s)</label>
        <input type="text" *ngFor="let origin of allowOrigins" [(ngModel)]="origin" class="form-control mt-1" placeholder="Insert your allowed origins">
        <button type="button" (click)="addOrigin()" class="btn btn-outline-info btn-block mt-2">Add origin</button>
      </div>
    </div>
    <button type="button" class="btn btn-primary btn-block mt-3" (click)="createProject()">Create</button>
    <button type="button" class="btn btn-default btn-block" (click)="c('Close click')">Cancel</button>
  </div>
</ng-template>