<div class="row" style="height:100%">
    <div class="col-md-8">
        <div class="card" style="height:100%">
            <h6 class="card-header">
                Devices
            </h6>
            <div id="map" style="width:100%;height:100%"></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <h6 class="card-header">
                Devices
            </h6>
            <div class="list-group" *ngIf="device$ | async as devices">
                <button class="list-group-item btn" [ngClass]="device.lat != 0 ? 'btn-success' : 'btn-primary'"
                    *ngFor="let device of devices;  let i = index" (click)="addMarker(device)">
                    Device #{{ i + 1 }} ({{ device.id }})
                </button>
            </div>
        </div>
    </div>
</div>