<div class="row" style="height:100%">
    <div class="col-md-8">
        <div #map style="width:100%;height:100%"></div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <h6 class="card-header">
                Devices
            </h6>
            <div class="list-group">
                <a class="list-group-item list-group-item-primary" href="javascript:void(0)">This is a primary
                    list
                    group
                    item</a>
                <a class="list-group-item list-group-item-secondary" href="javascript:void(0)">This is a
                    secondary list
                    group item</a>
                <a class="list-group-item list-group-item-success" href="javascript:void(0)">This is a success
                    list
                    group
                    item</a>
                <a class="list-group-item list-group-item-danger" href="javascript:void(0)">This is a danger
                    list group
                    item</a>
                <a class="list-group-item list-group-item-warning" href="javascript:void(0)">This is a warning
                    list
                    group
                    item</a>
                <a class="list-group-item list-group-item-info" href="javascript:void(0)">This is an info list
                    group
                    item</a>
                <a class="list-group-item list-group-item-dark" href="javascript:void(0)">This is a dark list
                    group
                    item</a>
            </div>
        </div>
    </div>
</div>