<!-- Header -->
<div class="container-m-nx container-m-ny bg-white mb-4" *ngIf="auth.userProfile$ | async as profile">
    <div class="media col-md-10 col-lg-8 col-xl-7 py-5 mx-auto">
        <img [src]="profile?.picture" alt class="d-block ui-w-100 rounded-circle">
        <div class="media-body ml-5">
            <h4 class="font-weight-bold mb-4">{{ profile?.name }}</h4>

            <span class="d-inline-block text-body">
                <strong>Email : </strong>
                <span class="text-muted">{{ profile?.email }}</span>
            </span>
            <br />

            <span class="d-inline-block text-body">
                <strong>Last update : </strong>
                <span class="text-muted">{{ profile?.updated_at }}</span>
            </span>
            <br />

            <span class="d-inline-block text-body">
                <strong>Social provider(s) : </strong>
                <span class="text-muted">
                    <span style="font-size: 2em;" *ngIf="profile?.sub.includes('live')">
                        <i class="d-block fab fa-microsoft"></i>
                    </span>
                    <span style="font-size: 2em;" *ngIf="profile?.sub.includes('facebook')">
                        <i class="d-block fab fa-facebook"></i>
                    </span>
                </span>
            </span>
        </div>
    </div>
    <hr class="m-0">
</div>